/* styles/Dashboard.css */
.dashboard {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--primary-bg-color);
}

.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--navbar-bg-color);
    padding: var(--padding-large);
}

.dashboard-title {
    font-size: var(--font-large);
    font-weight: bold;
    margin: 0;
}

.user-dashboard {
    font-size: var(--font-medium);
    color: #333;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    padding: var(--padding-large);
    gap: var(--padding-large); /* Add space between sections */
}

.taskboard-container {
    display: flex;
    flex-direction: column;
    gap: var(--padding-medium);
}
